* {
  font-family: "Lato", serif;
}
/* carousel sliders */
/* navigation bar */
nav {
  background-color: #eadbc8;
}
.nav-active {
  border-bottom: 3px solid #c7b7a3 !important;
}
/* nav ul ul {
  right: 0px;
} */
.dropdown {
  background-color: #c7b7a3 !important;
  border-radius: 5%;
}
.btn {
  background-color: #c7b7a3 !important;
  color: #112a46 !important;
}
/* best deals */
h1 {
  margin-left: 5%;
}
.btn:hover {
  transition: 1s !important;
  background-color: #eadbc8 !important;
}
.badge {
  background-color: #eadbc8;
  color: #112a46 !important;
  font-weight: normal !important;
}
/* artist */
.artist-img:hover {
  transition: 2s !important;
  transform: rotateY(360deg) !important;
  cursor: pointer;
}
/* instock albums */
.view-more-link {
  transition: 1s;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  margin-right: 5%;
  text-decoration: none;
}
.view-more-link:hover {
  text-decoration: underline;
}
.card-title {
  font-size: 20px !important;
}
.instock-card {
  /* margin: 20px auto; */
  /* padding: 10px; */
  /* text-align: center; */
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.cover {
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 1s;
}
.instock-card:hover .cover {
  height: 100%;
}
.instock-card .btn {
  display: block;
  text-decoration: none;
  background-color: black;
  color: white;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: -40px;
  transition: 1s;
}
.instock-card:hover .btn {
  bottom: 0;
}

/* footer */
footer p {
  margin-bottom: 0px;
}
footer {
  background-color: #c7b7a3;
}
